
body {
  color: #666;
  margin-top: 50px;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 4em;
  letter-spacing: -4px;
  text-align: right;
  margin-right: 100px;
  margin-top: -20px;
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia, serif;
  font-size: 1em;
  line-height: 1.2em;
  width: 560px;
}

img {
  width: 800px;
}

a {
  color: #C25EB4;
}

a:hover {
  color: #2C8937;
}

section h2 {
  display: none;
}

section ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 560px;

  padding-top: 3em;
  list-style: none;
}

section ul li {
  display: inline;
  margin-right: 1em;
  float:right;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  font-family: sans-serif;
  font-size: 0.6em;
  color: #999;
/*  position: absolute;*/
  bottom: 5px;
  left: 15px;
}